* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header {
    height: 56px;
}

.header__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 185px;
    padding-right: 185px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header__banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__svg {
    margin-left: 30px;
}

.header__li {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    padding-left: 30px;
}

.love {
    background: #F0EFEB;
}

.love__content {
    padding-bottom: 80px;
    padding-top: 50px;
}

.love__item {
    display: flex;
    justify-content: space-evenly;
}

.love__list {
    padding-top: 100px;
}

.love__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    max-width: 534px;
    width: 100%;
}

.love__titl {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    padding-bottom: 42px;
}

.love__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    max-width: 481px;
    width: 100%;
    padding-bottom: 35px;
}

.love__name {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    width: 130px;
    padding: 8px 23px;
}

.books__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    padding-top: 60px;
}

.books__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    max-width: 632px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 47px;
}

.books__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    padding-bottom: 88px;
    display: flex;
    justify-content: center;
}

.books__banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seller__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    padding-bottom: 52px;
}

.seller__banner {
    display: flex;
    justify-content: center;
}

.seller__list {
    padding-right: 60px;
}

.seller__titl {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    width: 156px;
    display: flex;
    padding-top: 27px;
    justify-content: center;
    align-items: center;
}

.seller__txt {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    padding-top: 17px;
}

.seller__name {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    padding-top: 10px;
    padding-left: 116px;
    display: flex;
}

.seller__btn {
    padding-left: 80px;
}

.books__content {
    padding-bottom: 150px;
}

.people {
    background: rgba(204, 204, 204, 0.3);
}

.people__content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.people__item {
    display: flex;
    justify-content: center;
}

.people__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-top: 80px;
    padding-bottom: 31px;
}

.people__text {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    max-width: 498px;
    width: 100%;
    padding-bottom: 40px;
}

.people__name {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}

.people__img {
    padding-right: 50px;
}

.culture {
    background: rgba(204, 204, 204, 0.6);
}

.culture__content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.culture__item {
    display: flex;
    justify-content: center;
}

.culture__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    padding-top: 100px;
    padding-bottom: 31px;
}

.culture__text {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    max-width: 513px;
    width: 100%;
    padding-bottom: 31px;
}

.culture__name {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    color: #000000;
    padding-left: 360px;
}

.culture__list {
    padding-right: 60px;
}

.power {
    background: rgba(204, 204, 204, 0.3);
}

.power__content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.power__item {
    display: flex;
    justify-content: center;
}

.power__link {
    padding-left: 60px;
}

.power__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-top: 100px;
    padding-bottom: 31px;
}

.power__text {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    max-width: 530px;
    width: 100%;
    padding-bottom: 40px;
}

.power__name {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}

.some {
    height: 1370px;
}

.some__content {
    padding-top: 150px;
    padding-bottom: 150px;
}

.some__txt {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    padding-bottom: 60px;
}

.some__text {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.some__banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.some__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    padding-top: 26px;
}

.some__titl {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    padding-bottom: 110px;
}

.some__link {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.somes__text {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    padding-top: 150px;
}

.somes__texts {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    padding-bottom: 80px;
}

.muller {
    background: #F0F0F0;
}

.muller__item {
    display: flex;
    justify-content: space-between;
}

.somes__banner {
    display: flex;
    justify-content: space-evenly;
}

.muller__list {
    padding-top: 150px;
}

.muller__title {
    width: 248px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.6px;
    color: #000000;
    padding-bottom: 40px;
}

.muller__text {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.muller__list-1 {
    padding-top: 150px;
    padding-left: 280px;
}

.muller__list-2 {
    padding-top: 150px;
}

.muller__list-3 {
    padding-top: 150px;
    padding-right: 280px;
}

.muller__title {
    padding-top: 35px;
}

.muller__name-1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    padding-top: 45px;
    display: flex;
    justify-content: center;
    padding-bottom: 55px;
}

.keep__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    padding-top: 80px;
    padding-bottom: 10px;
}

.keep__text {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    padding-bottom: 40px;
}
.keep__banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 70px;
}
.keep__banner-2{
    display: flex;
    justify-content: center;
}
.keep__name{
    display: flex;
    justify-content: center;
}
.keep__btn-1{
    font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #A0A0A0;
border: 1px solid #000000;
width: 153px;
padding-left: 10px;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 76px;
}
.keep__btn-2{
    font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #A0A0A0;
border: 1px solid #000000;
width: 153px;
padding-left: 10px;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 76px;
}
.keps__banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 70px;
    padding-bottom: 20px;
}
.keep__btn-3{
    font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #A0A0A0;
border: 1px solid #000000;
max-width: 366px;
width: 100%;
padding-left: 10px;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 330px;
}
.keep__banner-2{
    padding-bottom: 25px;
}
.keep__name{
    font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #FFFFFF;
background: #000000;
border: 1px solid #000000;
border-radius: 100px;
width: 115px;
padding: 8px 23px;
}
.nams__link{
    display: flex;
    justify-content: center;
    padding-bottom: 88px;
}
.footer{
    background: #020202;
}
.footer__name{
    font-weight: 400;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;
padding-bottom: 36px;
display: flex;
}
.footer__txt{
    font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
padding-bottom: 12px;
}
.footer__item{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
.footer__link{
    display: flex;
}
.footer__content{
    padding-top: 60px;
}
.footer__list{
    padding-right: 160px;
}
.about__list{
    padding-right: 160px;
}
.footers__name{
    font-weight: 400;
font-size: 14px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
display: flex;
justify-content: center;
padding-top: 30px;
padding-bottom: 20px;
}
.footer__img{
    padding-bottom: 50px;
}
.footer__imgs{
    padding-right: 25px;
}